
{% extends 'JENASESCO/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Movement Confirmation{% endblock %}

{% block content %}

<style>
    /* Generic Container Styles */
    .container {
        max-width: 800px;
        margin: 2em auto;
        padding: 2em;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .container h1, .container h3 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    /* List Styles */
    ul.no-bullets {
        list-style-type: none;
        padding: 0;
    }

    ul.no-bullets li {
        padding: 8px 0;
        border-bottom: 1px dotted #ccc;
    }

    ul.no-bullets li:last-child {
        border-bottom: none;
    }

    ul.no-bullets li strong {
        margin-right: 10px;
    }

   
</style>

<div class="container mt-5">
    <h1>Youth Movement Details:</h1>
    
<!-- Youth Movement Info -->

<ul class="no-bullets">
    <li><strong>Name:</strong> {{ youth_movement.name }}</li>
    <li><strong>Region:</strong> {{ youth_movement.location_region }}</li>
    <li><strong>Division:</strong> {{ youth_movement.location_division }}</li>
    <li><strong>Subdivision:</strong> {{ youth_movement.location_subdivision }}</li>
    <li><strong>Movement Type: </strong> {{ youth_movement.movement_type  }}</li>
    <li><strong>Contact Person:</strong> {{ youth_movement.contact_person_name }}</li>
    <li><strong>Contact Email:</strong> {{ youth_movement.contact_person_email }}</li>
    <li><strong>Contact Phone:</strong> {{ youth_movement.contact_person_phone_number }}</li>
    <li><strong>Email:</strong> {{ youth_movement.email }}</li>
    <li><strong>Phone Number:</strong> {{ youth_movement.phone_number }}</li>
    <li><strong>Address:</strong> {{ youth_movement.address }}</li>
    <li><strong>Legal Document:</strong>
{% with extension=youth_movement.legal_document.url|slice:"-4:" %}
    {% if extension|lower == ".pdf" or extension|lower == ".png" or extension|lower == ".jpg" or extension|lower == ".jpeg" %}
        <iframe src="{{ youth_movement.legal_document.url }}" width="600" height="400"></iframe>
    {% else %}
        <a href="{{ youth_movement.legal_document.url }}" download>Download Document</a>
    {% endif %}
{% endwith %}
    </li>
</ul>



<script>
    const movementTypeSelect = document.getElementById('movement_type');
    const otherTypeGroup = document.getElementById('other_type_group');

    movementTypeSelect.addEventListener('change', () => {
        if (movementTypeSelect.value === "Others") {
            otherTypeGroup.style.display = 'block';
        } else {
            otherTypeGroup.style.display = 'none';
        }
    });
</script>

<h2>Teams:</h2>
{% for team_info in team_details %}
    <h3>{{ team_info.activity_name }} - {{ team_info.team_type }}</h3>


   <h2>Teams:</h2>
    {% for team_info in team_details %}
        <h3>{{ team_info.activity_name }} - {{ team_info.team_type }}</h3>

        <style>
table {
        border-collapse: separate; 
        border-spacing: 0 5px; 
        width: 100%;
        margin-bottom: 20px;
    }

    td.label, span.english {
        font-weight: bold;
        text-align: left;
        padding-right: 15px;
        width: 40%;
        color: black;
        margin: 0; /* Removes margin */
        display: block; /* Makes label and English classes behave like block elements */
    }

    .english {
        font-style: italic;
        text-align: center; /* Centers the English text */
        font-weight: normal; /* Removes the bold styling */
    }

    td {

        padding: 5px;
        vertical-align: top;
        color: black; 
    }

    th {
        padding: 10px 5px;
        text-align: center;
        font-weight: bold;
        background-color: #f7f7f7;
        color: black; 
    }

    tr {
        border: 1px solid black; 
    }
</style>

{% for member in team_info.members %}
    <table>
        <thead>
            <tr>
                <th colspan="3">Receipt for Team Member</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border: 1px solid black; ">
                <td rowspan="{% if member.is_coach %}2{% else %}9{% endif %}">
                    {% if member.photo %}
                        <img src="{{ member.photo.url }}" alt="Member Photo" width="150">
                    {% else %}
                        N/A
                    {% endif %}
                    <div style="text-align:center; font-weight: bold;">{% if member.is_coach %}Coach{% else %}Player{% endif %}</div>
                </td>
                <td class="label">Noms et Prénoms: <br><span class="english">[Name]</span></td>
                <td>{{ member.full_name }}</td>
            </tr>

            {% if member.is_coach %}
                <tr>
                    <td class="label">Adresse et contact: <br><span class="english">[Address and contact]</span></td>
                    <td>{{ member.phone_number }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="label">Date et Lieu de naissance: <br><span class="english">[Date and place of birth]</span></td>
                    <td>{{ member.dob }}</td>
                </tr>
                <tr>
                    <td class="label">Genre: <br><span class="english">[Gender]</span></td>
                    <td>
                        {% if "boy" in team_info.team_type|lower %} Male
                        {% elif "girl" in team_info.team_type|lower %} Female
                        {% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="label">Établissement (Etab.): <br><span class="english">[youth_movement]</span></td>
                    <td> {{ youth_movement.name }}</td>
                </tr>
                <tr>
                    <td class="label">Équipe (Eq.): <br><span class="english">[Team]</span></td>
                    <td> {{ team_info.activity_name }} - {{ team_info.team_type }}</td>
                </tr>
                <tr>
                    <td class="label">Numéro de la Carte Nationale d'Identité: <br><span class="english">[National ID card number]</span></td>
                    <td> {{ member.ID_number }}</td>
                </tr>
                <tr>
                    <td class="label">Numéro de la Carte Biométrique jeune: <br><span class="english">[Biometric Youth card number]</span></td>
                    <td>{{ member.Bio_number }}</td>
                </tr>
                <tr>
                    <td class="label">Adresse et contact: <br><span class="english">[Address and contact]</span></td>
                    <td>{{ member.phone_number }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
{% endfor %}


        </table>
        <hr>
    {% endfor %}
{% endfor %}
    <a href="?generate_pdf=true">Download PDF</a>

    <div class="confirmation-button">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Confirm and Submit" %}</button>
        </form>
    </div>
</div>

{% endblock %}


















































